.Album {
	flex: 1 1 0;
	display: flex;
	flex-direction: row;
	align-items: center;

}


.Album div:first-of-type {

	margin-left: 32px;
}

.Album div {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-left: 17px;
}

.Album h3 {
margin: 0;
}

.Album p {
margin: 0;
}

