.portfolioWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolioContainer {
  margin: 20px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 21px -5px rgba(97, 97, 97, 0.23);
  border-radius: 10px;
  line-height: 1.2;
  background-color: #ffffff;
}

.circle {
  background-color: rgb(240, 128, 128);
  border-radius: 50%;
  box-shadow: 0 4px 21px -5px rgba(97, 97, 97, 0.23);

  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  margin: auto;

  /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 1); */
  transform: scale(1);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(240, 128, 128, 0.932);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.project {
  text-align: center;
  color: white;
  margin: auto;
}

.paragraph {
  padding: 15px;
  margin: 20px auto;
  width: 60%;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 790px) {
  .portfolioWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: left;
  }
}
