.Toolbar {
  background-color: #f2f6fa;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.Toolbar nav {
  width: 75%;
  justify-content: flex-end;
  display: flex;
}

.Toolbar nav ul {
  display: flex;
  justify-content: space-around;
}

.Button {
  border-radius: 20px;
  color: white;
  outline: none;
  cursor: pointer;
  background-color: #1db954;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}
