.Toolbar {
  background-color: white;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  box-shadow: 0 -6px 10px 10px #0000000a;
}

.Toolbar nav {
  width: 75%;
  justify-content: flex-end;
  display: flex;
}

.Toolbar nav ul {
  display: flex;
  justify-content: space-around;
}

.Button {
  border-radius: 20px;
  color: white;
  outline: none;
  cursor: pointer;
  background-color: #1db954;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}
