.Toolbar {
  background-color: #f0f3f8;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.Toolbar nav {
  width: 75%;
  justify-content: flex-end;
  display: flex;
}

.Toolbar nav ul {
  display: flex;
  justify-content: space-around;
}

.Toolbar nav ul li {
}
