.SearchItem {
  width: 30%;
  height: 32px;
  text-align: center;
}

.SearchItem input {
  background: url(/static/media/search.c712303a.svg) no-repeat;
  background-position: 2% 50%;
  padding: 10px 0 10px 30px;
  width: 100%;
	border-radius: 25px;
	outline: none;
    background-color: white;
    border: none;
}
