
.NavigationItem a {

  text-decoration: none;
 
 
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: rgb(247, 152, 87);
}


  .NavigationItem {
    margin: 0 10px;
		display: flex;
    align-items: center;
  }

  .NavigationItem a {
    color: grey;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    
    border-bottom: 4px solid rgb(247, 152, 87);
    color: grey;
  }

