.containerwrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: fit-content;
}

.container {
  position: relative;
  width: fit-content;
}

.image {
  margin: 3em auto 0;
  width: 100%;
  height: 428px;
  border-radius: 15px;
}

@media only screen and (min-width: 600px){
  .image {
    width: 552px;
    height: 350px;
}
}

@media only screen and (min-width: 1024px) {
  .image {
    width: 325px;
}


}






.number {
  color: #c56bd6;
  font-weight: 700;
  font-size: 32px;
  margin: 8px 0;
}


