

.skillsdisplaycontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 40px;
  background-color: white;
}

.iconcontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*width: 80px;
  height: 80px;
  margin: 10px;*/
}

.icon {
  width: 100%;
  height: auto;
}

.buttoncontainer {
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: 10px auto;
}

.close {
  background: #ff5e57;
}

.button {
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  
}