
.eddisplaycontainer {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  
}

.textcontainer {
  padding-left: 20px;
  line-height: 1.5;
}

.title {
  color: #C56BD6;
}

.date {
  font-size: 12px;
  font-weight: 300;
}

.jobtitle {
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  .eddisplaycontainer {
   display: flex;
    flex-direction: column;
    width: 25%;
    
    
  }


}