.Search {
  flex: 1 1 0;
  background-color: #f0f3f8;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.Search h1 {
  color: rgb(247, 152, 87);
  margin-top: 20px;
  margin-bottom: 0px;
}

.Search p {
  color: #616161;
  margin-top: 10px;
  margin-bottom: 13px;
}

.SearchItem {
  width: 30%;
  height: 32px;
  text-align: center;
}

.SearchItem input {
  background: url(/static/media/search.c712303a.svg) no-repeat;
  background-position: 2% 50%;
  padding: 10px 0 10px 30px;
  width: 100%;
  border-radius: 25px;
  outline: none;
  background-color: white;
  border: none;
}


