.main {
  font-family: Helvetica, Arial, sans-serif;
  color: #4b4b4b;
  margin: auto;
  max-width: 1440px;
  padding: 0;
  background-color: #f5f6fa;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .cardcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
  }

  .itemcontainer {
    display: flex;
    flex-direction: row;
  }

  .desktop {
    display: flex;
    flex-direction: column;
  }

  .mobile {
    display: none;
  }
}
