html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  
}

#root {
  position: relative;
  min-height: 100vh;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* 
.flexGrow {
  flex: 1 1 0;
  background-color: sandybrown;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

.flexHorizontal {
  display: flex;
  flex-direction: row;
}

.bluebg {
  background-color: blue;
}



.bottomBar {
  display: flex;
  flex-direction: row;
  border: 2px solid purple;
}

.leftContainer {
  display: flex;
  background-color: white;
}

.rightContainer {
  display: flex;
  background-color: sandybrown;
} */
