.PlayList {
  height: 68px;
  width: 100%;
  display: flex;
  flex-direction: row;

  backdrop-filter: blur(5px);
  box-shadow: 0 -6px 10px 0 #0000000a;
}

.Left {
  display: flex;
  flex: 1 1 0;
  background-color: white;
  height: 100%;

}

.Album {
	flex: 1 1 0;
	display: flex;
	flex-direction: row;
	align-items: center;

}


.Album div:first-of-type {

	margin-left: 32px;
}

.Album div {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-left: 17px;
}

.Album h3 {
margin: 0;
}

.Album p {
margin: 0;
}

.Right {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  background-color: #f7985799;
  height: 100%;
  padding: 10px;
}

.Right img {
  border-radius: 50%;
  width: 80px;
  height: auto;
  margin: 5px;
}

.Cover {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.Cover h3 {
    margin: 0;
}

.Cover p {
    margin: 0;
}

.Cover img {
  border-radius: 50%;
  width: 80px;
  height: auto;
  margin: 5px;
}

.Cover div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5px;
}

.Cover img {
  border-radius: 50%;
  width: 80px;
  height: auto;
  margin: 5px;
}

@media (max-width: 768px) {
  .PlayList {
    display: flex;
    flex-direction: column;
  }
}
