.PlayList {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;

  backdrop-filter: blur(5px);
  box-shadow: 0 -6px 10px 0 #0000000a;
}

.Left {
  display: flex;
  flex: 1 1 0;
  background-color: white;
  height: 100%;
  padding: 10px;
}

.Right {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  background-color: #f7985799;
  height: 100%;
  padding: 10px;
}

.Album {
  border-radius: 50%;
  width: 80px;
  height: auto;
  margin: 5px;
}

.MainCover {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.Cover {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.MainCover img {
  width: 60px;
  height: auto;
  margin: 5px;
  align-self: center;
}

.MainCover h3 {
  margin: 0;
  vertical-align: middle;
}

.MainCover p {
  margin: 0;
  vertical-align: middle;
}

.Cover img {
  border-radius: 50%;
  width: 60px;
  height: auto;
  margin: 5px;
}

.Cover div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 5px;
}

progress::-webkit-progress-bar { background-color: #fff; }
progress::-webkit-progress-value {
  background-color: orange !important;
}
/* progress {
  -webkit-appearance: none;
  border-radius: 25px;
}
::-webkit-progress-value {
   background-color: orange;
   border-radius: 25px;
}  */

/* .Progress_bar {
  background-color: black;
  border: 0.1em solid transparent;
  height: 0.75em;
} */

.Player{
    display: flex;
  flex-direction: row;
  align-items: center;
}

.Player div {
  margin: 0 5px;
}

@media (max-width: 768px) {
  .PlayList {
    display: flex;
    flex-direction: column;
  }
}
